exportClasses (mrp)
exportMethods (getNumberWays, setPopulation,
               setFormula, getFormula,
               mr, poststratify, hasMultilevelModel,
               getResponse, setPopOnes, getThetaHat)
export (mrp)

exportClasses (NWayData)
exportMethods (getNumberWays,
               getYbarWeighted, getN,
               getNEffective,
               getDesignEffect)
S3Method(is.NWayData)

#exportClasses (MrpVisualizer)
#exportMethods (visualize, placeMisc,
#               placeCharts, placeLabels,
#               prepareLayout, createMatForLayout)
#export (newMrpVisualizer)

#exportClasses (MrpStateVisualizer)
#exportMethods (setPlotFunction, setColorFunction,
#               createColorFunction, createStatemapsFunction)
#export (newMrpStateVisualizer)
