exportClasses (mrp)
exportMethods (getNumberWays, setPopulation, setFormula, getFormula, mr, p, hasMultilevelModel, dataRescale, dataLookup, dataGenericAugment)
export (newMrp)

exportClasses (NWayData)
exportMethods (getNumberWays, getYbarWeighted, getN, getDesignEffectByCell, getDataLength, getNEffective, getDesignEffect, dataRescale, dataLookup, dataGenericAugment)
export (newNWayData)

exportClasses (MrpVisualizer)
exportMethods (visualize, placeMisc, placeCharts, placeLabels, prepareLayout, createMatForLayout)
export (newMrpVisualizer)

exportClasses (MrpStateVisualizer)
exportMethods (setPlotFunction, setColorFunction, createColorFunction, createStatemapsFunction)
export (newMrpStateVisualizer)
