#importFrom(
#)


#exportClasses(
#)

#exportMethods(
#)

export(
  blankplot,
  colorblind,
  createThreeWayDataset,
  graphsFor50States,
  statemaps,
  pal,
  visualizeThreewayDataset,
  visualizeThreewayDatasetWithAll
)
