exportClasses (mrp)
exportMethods (setPopulation, setFormula, getFormula, mr, p, createNWayData, hasNWayData, fitMultilevelModel, hasMultilevelModel)
export (newMrp)

exportClasses (ThreeWayData)
exportMethods (getNumberWays, getYbarWeighted, getN, getDesignEffectByCell, getDataLength, getNEffective, getDesignEffect)
export (newThreeWayData)

exportClasses (MrpVisualizer)
exportMethods (visualize, placeMisc, placeCharts, placeLabels, prepareLayout, createMatForLayout)
export (newMrpVisualizer)

exportClasses (MrpStateVisualizer)
exportMethods (setPlotFunction, setColorFunction, createColorFunction, createStatemapsFunction)
export (newMrpStateVisualizer)
